@import "tailwindcss";
@import "@heroui/styles";


@theme inline {
  --color-primary: #409EBC;
  --color-primary-dark: #093F5C;
  --color-secondary: #F7C313;
  --color-foreground: #04202F;
  --color-background: #FAFAFA;
}